/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  z-index: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Start of Custom Code */

div.container {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

header .logo {
  width: 183px;
  height: 36px;
  background: url("../img/logo.png");
  order: 0;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  margin-top: 20px;
}

header nav a {
  width: 100%;
  font-size: 1.3rem;
  padding: 20px 0;
  border-top: 1px solid #000;
  text-align: center;
  text-decoration: none;
  color: #000;
}

header nav a:last-child {
  border-bottom: 1px solid #000;
}

section.call-to-action {
  height: 400px;
}

section.call-to-action div {
  display: flex;
  width: 100%;
  padding-bottom: 75px;
  flex-direction: column;
  align-items: center;
}

section.call-to-action .cta-snippet-img {
  display: none;
}

section.call-to-action h1 {
  font-size: 4.5rem;
  padding: 50px 0 10px;
  width: 100%;
  text-align: center;
}

section.call-to-action button {
  padding: 6px 42px;
  background: none;
  border: 1px solid #000;
  font-size: 1rem;
}

section.main {
  display: flex;
  height: auto;
  width: 92%;
  padding: 15px 20px 40px 0;
  margin-left: 4%;
  flex-wrap: wrap;
  border-top: 2px solid #000;
}

section.last {
  border-top: none;
  border-bottom: 2px solid #000;
}

.middle-img {
  width: 92%;
  margin-left: 4%;
}

section.main article {
  margin-top: 45px;
  line-height: 1.15rem;
}

article.thirds:first-child {
  margin-top: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-left: 4%;
  padding: 20px 0 50px;
}

footer p {
  margin-top: 15px;
}

copyright {
  padding-top: 50px;
  text-align: center;
}
